- current_user.groups.each do |group|
  = link_to group_messages_path(group) do
    %ul.sidemenu__groups__list
      %li.sidemenu__groups__list__groupname
        = group.name
      %li.sidemenu__groups__list__latestmassage
        = group.show_last_message
