.header
  %h2.header__groupname
    = @group.name
  %ul
    %h3.header__member member:
    %li.header__member__list nagato
    %li.header__member__list yahiko
    %li.header__member__list konan
  = link_to "Edit", "", {:class => "header__edit-link"}
