%ul.content__message{data: {id: message.id}}
  %li.content__message__name
    = message.user.name
  %li.content__message__date
    = message.created_at
  - if message.content.present?
    %li.content__message__text
      = message.content
  = image_tag message.image.url, class: "content__message__image" if message.image.present?
