%ul.content__message
  %li.content__message__name itati
  %li.content__message__date 2018/10/10
  %li.content__message__text こんにちは！
%ul.content__message
  %li.content__message__name kisame
  %li.content__message__date 2018/10/20
  %li.content__message__text はじめまして!
%ul.content__message
  %li.content__message__name kakuzu
  %li.content__message__date 2018/11/01
  %li.content__message__text こんばんは！
